# Docker
.dockerignore
Dockerfile
Dockerfile.server

# Directories
.git
.github
build-tools
contrib
docs
scripts
test

# Files
.gitignore
.gitlab-ci.yml
.gitmodules
.mailmap
.travis.yml
MANIFEST.in
README.md
setup.cfg
