Andrew Brown <brownan@gmail.com> <andrew@fry.(none)>
Alex Headley <aheadley@waysaboutstuff.com> <aheadley@nexcess.net>
Alex Headley <aheadley@waysaboutstuff.com> aheadley
Michael Fallows <michael@fallo.ws> redorkulated
Maciej Malecki <maciej.malecki@hotmail.com> Maciej Małecki
Nicolas F <ovdev@fratti.ch> <spam@tes-cheese.ch>
Nicolas F <ovdev@fratti.ch> CounterPillow
Nicolas F <ovdev@fratti.ch> <ajidala@gmail.com>
Nicolas F <ovdev@fratti.ch> <kleinnici@frattaroli.ch>
Nicolas F <ovdev@fratti.ch> <CounterPillow@users.noreply.github.com>
