include COPYING.txt
include README.rst
include CONTRIBUTORS.rst
include overviewer.py
include contribManager.py
include sample_config.py
recursive-include overviewer_core *.py
recursive-include overviewer_core/src *.c *.h
recursive-include overviewer_core/src/primitives *.c *.h
recursive-include overviewer_core/data *
recursive-include contrib *.py
recursive-include docs *
prune docs/_build
