include COPYING.txt
include README.rst
include CONTRIBUTORS.rst
include contribManager.py
include sample_config.py
recursive-include overviewer/ *.py
recursive-include overviewer/chunkrenderer/ *.c *.h
recursive-include overviewer/oil/ *.c *.h
recursive-include overviewer/data/ *
recursive-include contrib/ *.py
recursive-include docs/ *
prune docs/_build
