html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

#mcmap {
    width: 100%;
    height: 100%;
}

.infoWindow {
    height: 100px;
}

.infoWindow>img {
    width:80px;
    float: left;

}

.infoWindow>p {
    text-align: center;
    font-family: monospace;
}

#customControl {
    padding: 5px;
    height: 15px;
    font-family: Arial, sans-serif;
}

#customControl > div#top {
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    width: 70px;
    font-size: 12px;
    width: 70px;
    cursor: pointer;
}

#customControl > div#dropDown {
    border: 1px solid #000;
    font-size: 12px;
    background-color: #fff;
    display: none;
}

#customControl > div#button {
    border: 1px solid #000;
    font-size: 12px;
    background-color: #fff;
    display: none;
}


#link {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.55);
    border: 1px solid rgb(0, 0, 0);
    font-size: 9pt;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
}

#link:hover {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.8);
}
