html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px ;
	background-color: #000;
}

#mcmap {
	height: 100%;
	width:100%;
}

.infoWindow {
    height: 100px;
}

.infoWindow>img {
    width:80px;
    float: left;

}

.infoWindow>p {
    text-align: center;
    font-family: monospace;
}

#signControl {
    padding: 5px;
    height: 15px;
    font-family: Arial, sans-serif;
}

#signControl > div#top {
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    width: 70px;
    font-size: 12px;
    width: 70px;
    cursor: pointer;
}

#signControl > div#dropDown {
    border: 1px solid #000;
    font-size: 12px;
    background-color: #fff;
    display: none;
}


#link {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.55);
    border: 1px solid rgb(0, 0, 0);
    font-size: 9pt;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
}

#link:hover {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.8);
}

/* CSS for Playerlist */
#playerList A:link {
    text-decoration: none;
    color: #fff;
}

#playerList A:hover {
    text-decoration: none;
    color: #fff;
}

#playerList A:active {
    text-decoration: none;
    color: #fff;
}

#playerList A:visited {
    text-decoration: none;
    color: #fff;
}

#playerList {
	position:absolute;
	background-image:url(./listbg.png);
	top:55px;
	right:20px;
	width:150px; 
/*	height:*;*/
	border:solid;
	border-color:#FFFFFF;
	border-width:1px;
	color:#FFFFFF;
	font-family:Arial;
}

#Players {
	font-size:80%;
	left:10px;
	bottom:10px;
	top:5px;
	font-weight: bold;
}

#onlinelist {
	font-size: 80%;
	position: relative;
	text-align: center;
	top: 5px;
}

#onlinelist > hr {
	color:#FFFFFF;
	background:#FFFFFF;
	height:1px;
}