html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px ; background-color: #000; }
#mcmap { height: 100% }

.infoWindow {
    height: 100px;
}

.infoWindow>img {
    width:80px;
    float: left;

}

.infoWindow>p {
    text-align: center;
    font-family: monospace;
}
